body {
    background-color: #9ABCE3;
    text-align: center;
}
h1 {color: #6B6B6C
    border: 5px dotted  #e3c19a;
}


#patlabor {
    border: 10px #40434E
}
.my-interests {
    height: 20px;
    border: 1px solid black;
}
ul {
    text-align: center;
    list-style-position: inside;
}
hr {color:#e3c19a}