body {
    background-color: #9ABCE3;
    text-align: center;
}
h1 {color: #6B6B6C
    border: 1px solid black;
}


#patlabor {
    border: 10px #40434E
}
.my-interests {
    height: 20px;
    border: 1px solid black;
}